<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.sise.lab03.dummynotepad">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.HomePageActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.NewClaimActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.ClaimDescriptionActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.MyClaimsActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.MyProfileActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.SettingsActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.TermsPolicyActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.PrivacyPolicyActivity"></activity>
        <activity android:name="pt.ulisboa.tecnico.sise.lab03.dummynotepad.App.Activities.TecnicalSupportActivity"></activity>
    </application>

</manifest>